@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  @apply font-serif bg-slate-100;
}

.nav-menu {
  @apply flex w-[80%] lg:w-[22%] sm:w-[40%] md:w-[33%] px-2 py-1 items-center mx-auto left-1/2 -translate-x-1/2 fixed bottom-5 bg-primary text-white rounded-full self-center;
  backdrop-filter: blur(15px);
}

.nav-menu-item {
  @apply text-xl p-3 hover:bg-teal-600 hover:rounded-full hover:scale-95;
}

.nama-saya {
  @apply block font-bold text-dark text-5xl mt-1 lg:text-7xl tracking-wide;
}

.profile-me {
  @apply w-[20rem] lg:h-[26rem] lg:w-[23rem] mt-10 lg:right-0 relative left-1/2 -translate-x-1/2 mb-16 rounded-t-full overflow-hidden;
  /* left: calc(50% - 10rem); */
  background: linear-gradient(#5eead4, transparent);
  backdrop-filter: blur(5px);
}

.menu-active {
  @apply bg-teal-600 rounded-full scale-95;
}

.skill {
  @apply hover:border hover:border-dark p-2 hover:rounded-xl hover:shadow-md hover:scale-110 transition duration-1000 ease-in-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.timeline-numeric {
  @apply h-10 w-10 rounded-full mb-3 ml-7 shadow-md border-2 lg:bg-white border-dark lg:mx-auto lg:absolute lg:left-[45%] lg:translate-x-1/2;
}
.timeline-container {
  @apply relative pt-2 sm:pl-28 sm:pt-0 lg:w-1/2 lg:ml-auto lg:pl-16;
}
.timeline-container-left {
  @apply lg:ml-0 lg:mr-auto lg:pl-0 lg:pr-16;
}
.timeline-pointer {
  @apply absolute inset-0 left-10 h-4 w-4 transform rotate-45 bg-dark lg:left-14 lg:top-3 shadow-md -z-10 lg:block md:hidden sm:hidden;
}
.timeline-pointer-left {
  @apply lg:left-auto lg:right-14 lg:block md:hidden sm:hidden;
}

.project {
  backdrop-filter: blur(5px);
}

.overlay {
  @apply fixed top-0 left-0 right-0 w-full h-full flex items-center z-[9999] backdrop-blur-sm;
  background: rgba(27, 27, 27, 0.541);
}
.overlay img {
  @apply block max-w-[60%] max-h-[80%] shadow-2xl;
  margin: 60px auto;
}
.overlay > span {
  @apply absolute top-5 right-5 text-3xl z-[9999] cursor-pointer;
}
.overlay-arrows_left {
  @apply flex bg-transparent justify-between absolute top-1/2 w-11 h-11 left-2 lg:left-7 bg-slate-300 rounded-full z-[9999] cursor-pointer;
}

.overlay-arrows_left svg {
  @apply w-7 h-7 absolute top-[21%] translate-x-1/4 text-dark;
}

.overlay-arrows_right svg {
  @apply w-7 h-7 absolute top-[21%] translate-x-1/4 text-dark;
}

.overlay-arrows_right {
  @apply flex bg-transparent justify-between absolute top-1/2 w-11 h-11 right-2 lg:right-7 bg-slate-300 rounded-full z-[9999] cursor-pointer;
}

.humberger-line {
  @apply w-[30px] h-[2px] my-2 block bg-dark;
}
